[package]
name = "electrs"
version = "0.4.1"
authors = ["Roman Zeyde <me@romanzey.de>"]
description = "An efficient re-implementation of Electrum Server in Rust"
license = "MIT"
homepage = "https://github.com/romanz/electrs"
repository = "https://github.com/romanz/electrs"
keywords = ["bitcoin", "electrum", "server", "index", "database"]
documentation = "https://docs.rs/electrs/"
readme = "README.md"
edition = "2018"

[features]
default = [ "rocksdb" ]
liquid = [ "elements" ]
electrum-discovery = [ "electrum-client"]
oldcpu = [ "rocksdb-oldcpu" ]

[dependencies]
arraydeque = "0.4"
arrayref = "0.3.6"
base64 = "0.13.0"
bincode = "1.3.1"
bitcoin = { version = "0.25.0", features = [ "use-serde" ] }
clap = "2.33.3"
crossbeam-channel = "0.5.0"
dirs = "3.0.1"
elements = { version = "0.15.0", features = [ "serde-feature" ], optional = true }
error-chain = "0.12.4"
glob = "0.3"
hex = "0.4.2"
itertools = "0.9.0"
lazy_static = "1.3.0"
libc = "0.2.81"
log = "0.4.11"
socket2 = { version = "0.3.18", features = ["reuseport"] }
num_cpus = "1.12.0"
page_size = "0.4.2"
prometheus = "0.11.0"
rayon = "1.5.0"
rocksdb = { version = "0.15.0", optional = true }
rocksdb-oldcpu = { version = "0.12.4", optional = true, package = "rocksdb" }
rust-crypto = "0.2"
serde = "1.0.118"
serde_derive = "1.0.118"
serde_json = "1.0.60"
signal-hook = "0.2.2"
stderrlog = "0.5.0"
sysconf = ">=0.3.4"
time = "0.2.23"
tiny_http = "0.7.0"
url = "2.2.0"
hyper = "0.13.6"
hyperlocal = "0.7"
# close to same tokio version as dependent by hyper v0.13.6 and hyperlocal 0.7 -- things can go awry if they mismatch
tokio = { version = "=0.2.6", features = ["sync", "macros"] }

# optional dependencies for electrum-discovery
electrum-client = { version = "0.1.0-beta.6", optional = true }

[dev-dependencies]
tempfile = "3.0"

[profile.release]
lto = true
panic = 'abort'
codegen-units = 1

[patch.crates-io.electrum-client]
git = "https://github.com/Blockstream/rust-electrum-client"
rev = "bd783aa70604fa1a0d8b29a3459326c640001354" # add-peer
