[package]
name = "electrs"
version = "0.9.0"
authors = ["Roman Zeyde <me@romanzey.de>"]
description = "An efficient re-implementation of Electrum Server in Rust"
license = "MIT"
homepage = "https://github.com/romanz/electrs"
repository = "https://github.com/romanz/electrs"
keywords = ["bitcoin", "electrum", "server", "index", "database"]
documentation = "https://docs.rs/electrs/"
readme = "README.md"
edition = "2018"
build = "build.rs"

[features]
default = ["metrics"]
metrics = ["prometheus", "tiny_http"]

[package.metadata.configure_me]
spec = "internal/config_specification.toml"

[dependencies]
anyhow = "1.0"
bitcoin = { version = "0.27", features = ["use-serde", "rand"] }
configure_me = "0.4"
crossbeam-channel = "0.5"
dirs-next = "2.0"
env_logger = "0.7"
log = "0.4"
parking_lot = "0.11"
prometheus = { version = "0.12", features = ["process"], optional = true }
rayon = "1.5"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
signal-hook = "0.3"
tiny_http = { version = "0.8", optional = true }

[dependencies.bitcoincore-rpc]
# use bitcoin 0.27 (until https://github.com/rust-bitcoin/rust-bitcoincore-rpc/pull/196 is merged)
git = "https://github.com/romanz/rust-bitcoincore-rpc"
rev = "06ac9fa3e834413f7afeaed322cf8098d876e4a0"

[dependencies.rocksdb]
# support building with Rust 1.41.1 and workaround https://github.com/romanz/electrs/issues/403
git = "https://github.com/romanz/rust-rocksdb"
rev = "4554d19b2ff2e34493564b4d868454097c74b693"
default-features = false
features = ["zstd"]

[build-dependencies]
configure_me_codegen = "0.4"
