# Which chain you want to use.
# Allowed values: 'bitcoin', 'testnet', 'regtest' or 'signet'
network = "testnet"

# The listening RPC address of bitcoind,
# json-rpc-ports:
#   bitcoin: 8332
#   testnet: 18332
#   signnet: 38332
#   regtest: 18443
daemon_rpc_addr = "127.0.0.1:18332"

# Using cookie file to auth
#cookie_file = "~/.bitcoin/.cookie"
# Using rpc auth instead of cookie file
auth = "<rpcauth-username>:<rpcauth-password>"

# The listening P2P address of bitcoind
# p2p-ports:
#   bitcoin: 8333
#   testnet: 18333
#   signnet: 38333
#   regtest: 18444
daemon_p2p_addr = "127.0.0.1:18333"

# Directory where the index should be stored. It should have at least 70GB of free space.
db_dir = "/electrs/db"

# The address on which electrs should listen. Warning: 0.0.0.0 is probably a bad idea!
# Tunneling is the recommended way to access electrs remotely.
electrum_rpc_addr = "127.0.0.1:50001"

# How much information about internal workings should electrs print. Increase before reporting a bug.
log_filters = "INFO"