# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish Docker image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Ref (branch, tag or SHA)'
        type: string

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set envs
        env:
          SHA: ${{ github.sha }}
          TAG: ${{ inputs.tag }}
          REPOSITORY: ${{ github.repository }}
        run: |
          SHORT_COMMIT_ID=$(echo $SHA | cut -c1-7)
          DOCKER_TAG=${TAG:-$SHORT_COMMIT_ID}
          REPO=$(echo $REPOSITORY | tr '[:upper:]' '[:lower:]')
          echo "DOCKER_IMAGE=$REPO:$DOCKER_TAG" >> $GITHUB_ENV
          echo "REPO_TAG=${TAG:-$SHA}" >> $GITHUB_ENV

      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          ref: ${{ env.REPO_TAG }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.DOCKER_IMAGE }}

      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.DOCKER_IMAGE }}
          labels: ${{ steps.meta.outputs.labels }}